<%= form_with(model: physician, local: true) do |form| %>
  <% if physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
        <% physician.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :specialty %>
    <%= form.text_field :specialty %>
  </div>
  <h3>Office Locations</h3>
  <div id="offices">
      <%= form.fields_for :offices do |office| %>
         <%= render 'office_fields', :f => office%>
      <% end %>
      <div class="links">
          <%= link_to_add_association 'Add An Office', form, :offices %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="border border-secondary p-4">

    <div class="form-group w-25">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control", placeholder:"Enter Name Here" %>
    </div>

    <div class="form-group w-25">
      <%= form.label :specialty %>
      <%= form.text_field :specialty, class:"form-control", placeholder:"Enter Specialty Here" %>
    </div>
    <div class="actions">
      <%= form.submit "Create Physician", class:"btn btn-outline-dark" %>
    </div>

  </div>
<% end %>
